#largetext {
  font-family: Helvetica;
  font-size: 75px;
  padding-right: 30%;
  color: white;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: -1px;
  text-overflow: ellipsis;
}

#smalltext {
  font-family: Helvetica;
  font-size: 35px;
  padding-left: 30%;
  color: white;
  margin-right: 2.5%;
  margin-left: 2.5%;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

@media screen and (max-width: 900px) {
  #largetext {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) {
  #smalltext {
    font-size: 15px;
  }
}

a {
  color: #163cf8;
  text-decoration: none;
}

a:hover {
  color: white;
}
