#contact {
    height: 100vh;
    background-color: #F4F4F4;
}

#lowmenu{
    justify-content: space-between;
    list-style: none;
    margin-right: 2.5%;
    display: flex;
    font-size: 18px;
    padding-top: 145vh;
    font-family: Helvetica;
}