#mastcon {
  background-color: #F4F4F4;
  height: 90vh;  
}

#masthead {
    height: 90vh;   

  }
  
  #mastheader {
    padding-top: 8%;
    color: black;
    font-family: Orelo;
    font-size: 128px;
    letter-spacing: 1vh;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
  }
  
  #mastheadparagraph {
    color: black;
    font-family: Helvetica;
    font-size: 50px;
    display: flex;
    justify-content: left;
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-align: left;  
    padding-top: 25vh;  
  }
  
  #button {
    width: 135px;
    height: 55px;
    /* margin: auto; */
    margin-left: 2.5%;
    background-color: black;
    border-radius: 38px;
    display: flex;
    justify-content: center;  
  }
  
  #button p {
    font-size: 14px;
    font-family: Helvetica;
    color: white;
    padding-top: 4%;
  }