* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  position: sticky;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  top: 0;
  margin-right: 2.5%;
  height: 115px;
  /* background: rgba(0, 0, 0, 0.8); */
}

.nav ul {
  padding: 0;
  list-style: none;
  margin-top: 48px;
  margin-left: 2.5%;
  display: flex;
  gap: 25px;
  font-size: 204x;
}

.nav a {
  color: inherit;
  text-decoration: none;
  font-family: Helvetica;
  color: black;
}

.nav a:hover {
  color: #163cf8;
  text-decoration: line-through;
}

.nav img {
  width: 52px;
  margin-top: 25px;
}
