#rectangle {
  margin-left: 2.5%;
  width: 95%;
  /* height: 450px; */
  height: 70vh;
  border-radius: 40px;
  background-color: #ffeddf;
}

#errorcode {
  font-family: Helvetica;
  text-align: center;
  width: 100%;
}

#pagenotfound {
  width: 100%;
  font-family: Helvetica;
  text-align: center;
}
