body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#masthead-header {
  margin-left: 2.5%;
  width: 95%;
  margin-right: 2.5%;
  margin-bottom: -0.4%;
}

#masthead-arrow-animation {
  margin-left: 2.5%;
  width: 95%;
  margin-right: 2.5%;
}


#cover1 img {
  width: 47.25%;
  margin-left: 2.5%;
  margin-right: 0.25%;
  margin-top: 0.125%;
}

#cover2 img {
  width: 47.25%;
  margin-right: 2.5%;
  margin-left: 0.25%;
}

#cover3 img {
  width: 47.25%;
  margin-left: 2.5%;
  margin-right: 0.25%;
  margin-top: 0.125%;
}

#cover4 img {
  width: 47.25%;
  margin-left: 0.25%;
  margin-right: 2.5%;

}

#cover5 img {
  width: 47.25%;
  margin-left: 2.5%;
  margin-right: 0.25%;
  margin-top: 0.125%;
}

#cover6 img {
  width: 47.25%;
  margin-left: 0.25%;
  margin-right: 2.5%;
}

@media screen and (max-width: 825px) {

  #masthead-header{
    margin-bottom: -1.5%;
  }

  #cover1 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
  }

  #cover2 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
  }

  #cover3 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
  }

  #cover4 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
  }

  #cover5 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
  }

  #cover6 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1.25%;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
