#projects {
  display: flex;
}

#p1, #p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10 {
  width: 10%;
  height: 250vh;
}

#p1 {
  background-color: #D9D9D9;
}


#p2 {
  background-color: #CFCFCF;
}

#p3 {
  background-color: #C3C3C3;
}

#p4 {
  background-color: #B3B3B3;
}

#p5 {
  background-color: #A3A3A3;
}

#p6 {
  background-color: #989898;
}

#p7 {
  background-color: #8A8A8A;
}

#p8 {
  background-color: #808080;
}

#p9 {
  background-color: #747474;
}

#p10 {
  background-color: #6C6C6C;
}

#p6:hover {
  background-color: #989898;
  background-image: url("../../public/assets/img6.png")
}

#p1:hover {
  background-color: #D9D9D9;
  background-image: url("../../public/assets/img1.png")
}


#p2:hover {
  /* background-color: #CFCFCF; */
  background-image: url("../../public/assets/img2.png")
}

#p3:hover {
  background-image: url("../../public/assets/img3.png");
}

#p4:hover {
  background-image: url("../../public/assets/img4.png")
}

#p5:hover {
  background-image: url("../../public/assets/img2.png")
}

#p6:hover {
  background-image: url("../../public/assets/img6.png")
}
