#mastheadtext {
  font-family: Helvetica;
  font-size: 75px;
  padding-right: 30%;
  color: white;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: -1px;
  margin-bottom: 70px;
}

#cover1 img {
  width: 47.25%;
  margin-left: 2.5%;
  margin-right: 0.25%;
}

@media screen and (max-width: 825px) {
  #cover1 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #mastheadtext {
    font-size: 30px;
    padding-right: 10%;
    display: none;
  }
}

#cover1 img:hover {
  /* content: url(/public/img3.png); */
  background: white;
}

#cover2 img {
  width: 47.25%;
  margin-right: 2.5%;
  margin-left: 0.25%;
}

@media screen and (max-width: 825px) {
  #cover2 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

#cover3 img {
  width: 47.25%;
  margin-left: 2.5%;
  margin-right: 0.25%;
}

@media screen and (max-width: 825px) {
  #cover3 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

#cover4 img {
  width: 47.25%;
  margin-left: 0.25%;
  margin-right: 2.5%;
}

@media screen and (max-width: 825px) {
  #cover4 img {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
