/* html {
  scroll-behavior: smooth;
} */

#scrollup {
  position: static;
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: right;
  float: right;
}

#scrollup img {
  width: 58px;
}
